.btm{
    width: 200px;
    background: gold;
    height: 100px;
    text-align: center;
    border-radius: 20px;
    font-size: 30px;
    line-height: 100px;
    margin-bottom: 20px;
}
.g{
    text-align: center;
    font-size: 20px;
    line-height: 30px;
    margin: 50px;
}
.head{
    padding: 20px;
    text-align: center;
}
.row{
    border-bottom: solid 1px black;
}
.e{
    width: 60px;
    height: 30px;
    border: solid 2px black;
    font-size: 15px;
    line-height: 2;
    text-align: center;
}
.row-2{
    padding-top: 20px;
}
.g .col-6{
    text-align: left;
}